# Maximum distance from city center (Seville) in kilometers.
distance.from.center=1
# Maximum distance of generated paths in kilometers.
max.path.distance=5
# Amount of generated paths from 1 to 10.
paths.amount=10
# Drivers by path from 1 to 3000.
drivers.by.path=1000
# 0 for Google Maps, 1 for OpenStreetMap.
paths.generation.method=1
# 0 for Kafka server, 1 for Ztreamy server.
stream.server=0
# 0 for aleatory, 1 for lineal, 2 for all at the same time.
starting.mode=1
# Indicates if trying to send a fail stream again or not.
retry.on.fail=true
# Interval of seconds between retries, in case of retrying on fail.
interval.between.retries.s=10
# Scheduled date and time to do the simulation. If this attribute is commented out, it will start with the execution of the application. Format: yyyy-MM-dd_HH.mm.ss
scheduled.simulation=2017-01-16_09.00.00
# Email where to send results of simulation.
send.results.to.email=jorgeyago.ingeniero@gmail.com
# Indicates if the behaviour of each SmartDriver is randomized.
randomize.behaviour=true
# Number of retries sending an event before being discarded from -1 (means infinite retries) to 5.
retries = 1
# Indicates if the system should generate new routes or use the existing ones.
use.routes.from.hdd=false
# Path to store the exported CSV routes to the HDD
path.csv.storage=CSV_storage.
# Maximum allowed streaming server response delay from 10 to 10000 milliseconds.
max.response.delay.ms=5000
# Maximum simulation time in seconds. If this attribute is commented out, it will simulate until the user exits the application.
max.simulation.time.s=0
# Simulator status sampling interval from 1 to 30 seconds.
status.sampling.interval.s=1